<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cadernetadegastos">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bank"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bank"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AtvHome"></activity>
        <activity android:name=".AtvAlterarRenda" />
        <activity android:name=".AtvVerGastos"/>
        <activity android:name=".AtvAdicionarGasto" />
        <activity android:name=".AtvCriarConta" />
        <activity android:name=".AtvMostraFornecedor"/>
        <activity android:name=".AtvCriaFornecedor"/>
        <activity android:name=".AtvLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>